.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #313131;
  font-size: 28px;
  margin-top: 20px;
  letter-spacing: -1px;
}

.description {
  color: #575757;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container {
    margin-bottom: 50px;
  }
}
