.container {
  width: 100%;
  padding: 0 6%;
  max-width: 1600px;
  margin: 0 auto;
}

.aboutServices {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }
}
