/* Circle */
.circle {
  position: absolute;
  /* top: -150px;
  right: -150px; */
  width: 328px;
  height: 328px;
}

.outerCircle {
  width: 328px;
  height: 328px;
  border-radius: 50%;
  /* background-color: white; */
  opacity: 0.1;
  position: relative;
  z-index: 10;
}

.innerCircle {
  position: absolute;
  width: 120px;
  height: 120px;
  /* background-color: #1e3c72; */
  border-radius: 50%;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
