.container {
  position: absolute;
  width: 700px;
  height: 1300px;
  background-image: url('/img/curveLines.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

@media screen and (max-width: 480px) {
  .container {
    width: 400px;
    left: 0;
    background-position: 0 50px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 350px;
    left: 0;
    background-position: 0 50px;
  }
}
